.carrusel__contenedor {
    white-space: nowrap;
    margin: 50px 0px;
    padding-bottom: 10px;  

}

.carrusel__contenedor:hover .carrusel-item {
    transform: translate3d(100px 0,0);
 }
 
 .carrusel__contenedor:hover .carrusel-item {
    opacity: 0.3;
 }
 
 .carrusel__contenedor:hover .carrusel-item:hover {
     transform: scale(1.5);
     opacity: 1;
 }