.footer {
    display: flex;
    align-items:center;
    height:100%;
    width:100%;
}

.footer a {
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Muli', sans-serif;
  padding-left: 50px;
  margin-top: 30px;
}

.footer a:hover {
    text-decoration: underline;
}
