.main {
    text-align: center;
    align-items: center;
    margin-top: 100px;   
}

.main__input {
    border: 1px solid white;
    border-radius: 40px;
    color: white;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    position: relative;
    padding: 0px 20px;
    height: 40px;
    width: 70%;
    background:rgba(255,255,255,0.1);
    /* outline: none; */
}

input::placeholder {
    color: white;
}


