
@import './Vars.scss';
@import './Media.scss';

body{
    margin: 0px;
    font-family: $theme-font;
    color: white;
    /* background: #7209b7; */
    background: $main-color;
    /* height: 500pt; */
}

* {
    box-sizing: border-box;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  margin-bottom: 150px;
}

.bounce {
  animation-name: bounce;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}

.found {
    text-align: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom:auto;
    font-size: 110px;
    font-family: 'Muli', sans-serif;
    font-weight: normal;
}

.found__not {
    text-align: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 150px;
}